@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    display: swap;
}

* {
    box-sizing: border-box;
}

/* сброс стилей по умолчанию */
body,h1,h2,h3,p,ul,li {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    
}
/* задание шрифта всей странице */
body {
    font-family: "Anonymous Pro", sans-serif;
}

h3 {
font-family: Anonymous Pro;
font-size: 48px;
font-weight: 400;
margin: 32px 0px 24px 0px;
}

h4 {
font-family: Anonymous Pro;
font-size: 36px;
font-weight: 400;
margin: 0px 0px 24px 0px;

}

span {
font-family: "Anonymous Pro";
font-size: 20px;
font-weight: 400;
}

.cross {
font-family: "Anonymous Pro";
font-size: 30px;
font-weight: 400;
margin: 0px 0px 20px 0px;

}

/* стили для главного контейнера */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F1F1;
   
}

/* стили для хедера(шапки) сайта */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #A1A6B4;
    background: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 24px 0 24px;
}

.logo-link {
    max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: #121723;
    font-size: 20px;
    font-weight: 700;
}

.snaker-big {
    padding: 48px 48px 48px 48px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 32px 0px 32px 0px;
    color: #F1F1F1;

}
.img_card {
    width: 1044px;
}
.sneaker_info {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contener-text {
    
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.card-text {
    display: flex;
    flex-direction: column;
    width: 506px;
    height: 840px;
    gap: 35px;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.p1 {
    margin-bottom: 35px;
 }
 
.spans {
    display: flex;
    justify-content: space-between;
    margin: 24px 0px 24px 0px;
}

.line {
   width: 506px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121723;
}

/* стили для футера */
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 32px 0;
}

.footer__logo-link {
    max-width: 300px;
    width: 100%;
}

footer .nav-link {
    color: white;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    border-top: 1px solid #A1A6B4;
}

.copyright-text {
    color: #A1A6B4;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0;
}
@media screen and (max-width:375px) {
    header {
       height: 156px;
       display: flex;
       flex-direction: column;
}
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .snaker-big {
        max-width: 343px;
        height: 1600px;
        padding: 24px 24px 24px 24px;
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        margin: 32px 0px 32px 0px;
        color: #F1F1F1;
    }
    .snaker_card {
        width: 295px;  
    }
   
    .img_card {
        width: 295px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 20px;
    }
    .contener-text {   
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card-text {
        max-width: 295px;
        font-size: 16px;
        display: flex;
        width: 295px;
        height: 888px;
        gap: 35px;
        font-family: Anonymous Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .p1 {
        margin: 0;
    }
    .card-text-mini{
    margin-top: 0px;
    margin-top: 70px
    }
    .spans {
        display: flex;
        justify-content: space-between;
        margin: 24px 0px 24px 0px;
    }
   
    .cross {
        font-size: 24px;
    }
    span {
        font-size: 16px;
    }
    .line {
        width: 295px;
    }

    footer {
        max-height: 195px;
        max-width: 375px;
        
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        margin: 0;
        margin: 29px 0;
        gap: 19px; 
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 343px;
        border-top: 1px solid #A1A6B4;
       
    }
    .copyright-text {
        margin: 24px 0;

    }
}